@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

/* Header */
.header {
    background-color: darkkhaki;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

/* Introduction Section */
.introduction {
    background-color: #f0f0f0;
    padding: 30px;
    margin: 20px;
    line-height:28px;
    border-radius: 10px;
}

/* Skills Section */
.skills {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.skills h2{
    padding-left: 25%;
}
.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    border: 1.5px solid #999;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

/* Contact Section */
.contact {
    background-color: #3c0090;
    padding: 30px;
    margin: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.contact a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
  /* Media Queries for Responsive Design */
  @media only screen and (max-width: 600px) {
    .skills li {
        margin-bottom: 5px;
    }
}